<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="MAX_INT" value="3999"/>
    <add key="M" value="M"/>
    <add key="CM" value="CM"/>
    <add key="D" value="D"/>
    <add key="CD" value="CD"/>
    <add key="C" value="C"/>
    <add key="XC" value="XC"/>
    <add key="L" value="L"/>
    <add key="XL" value="XL"/>
    <add key="X" value="X"/>
    <add key="IX" value="IX"/>
    <add key="V" value="V"/>
    <add key="IV" value="IV"/>
    <add key="I" value="I"/>

  </appSettings>
</configuration>